<div class="panel panel-default">
	<div class="panel-heading">Timer Application</div>
	<div class="panel-body">
		<p>Welcome to the Timer application that allows you to set multiple, shared device timers.</p>
		<ul>Timer app lets you
			<li>Set multiple times</li>
			<li>Share these times across multiple device<>
			<li>Receive named alerts when a timer has expired<>
			<li>Over time indication so you know how burnt you food is</li>
		</ul>
	</div>
</div>
<button data-toggle="collapse" data-target="#author">Author</button>
<div id="author" class="collapse">
Program written by Runqing Liu
</div>
<br>
<button data-toggle="collapse" data-target="#course">Course</button>
<div id="course" class="collapse">
CSE270 E
</div>

